html, body {
    margin: 0;
    margin-top: 0;
    padding: 0;
}
#main {
    background-image: linear-gradient(to bottom, rgba(86, 156, 248, 0.986), rgb(92, 17, 17));
    height: 100vh;
}
.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    justify-content: space-between;
    margin: 0;
    padding: 0;     
}
.left-text{
    display:flex;
    justify-content: left;
    margin: 1vw;
    margin-top: 0;
    color: rgb(216, 207, 207);
    width:fit-content;
}
.right{
    display: flex;
    justify-content: right !important;
    margin-right: 1.25vw;
    align-items: center;
    width: fit-content;
}
.nav-bar-text{
    margin: 0;
    margin-left: 1.5vw;
    padding-top: 2vh;
    font-size: 1.25vw;
}
#install{
    display: flex;
    align-self: center;
    border-width: 3px;
    border-radius: 15px;
    width: 9.5vw;
    font-size: 1.1vw;
    height: auto;
    background-image: linear-gradient(to right, rgba(86, 156, 248, 0.986), rgb(92, 17, 17));
    color: whitesmoke;
}
hr {
    height: 1vh;
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-style: none;
}