html, body {
    margin: 0;
    margin-top: 0;
    padding: 0;
}
.nav-bar {
    display: flexbox;
    flex-direction: row;
    background-color: rgb(43, 43, 43);
    margin-top: 0;;
    padding: 0;     
}
.left-text{
    display:flex;
    justify-content: left;
    margin: 1vw;
    margin-top: 0;
    color: rgb(216, 207, 207);
}
.nav-bar-text{
    margin: 0;
    padding-left: 3vw;
    padding-top: 3vh;
}
#install{
    display: flex;
    justify-self: right;
}
hr {
    height: 3vh;
    background-color: rgb(173, 173, 87);
}