html, body {
    margin: 0;
    margin-top: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    justify-content: space-between;
    margin: 0;
    padding: 0;     
}
.left-text{
    display:flex;
    justify-content: left;
    margin: 1vw;
    margin-top: 0;
    color: rgb(216, 207, 207);
    width:fit-content;
}
.right{
    display: flex;
    justify-content: right !important;
    margin-right: 1.25vw;
    align-items: center;
    width: fit-content;
}
.nav-bar-text{
    margin: 0;
    padding-left: 1.5vw;
    padding-top: 2vh;
    font-size: 1.25vw;
}
#install{
    display: flex;
    align-self: center;

}
hr {
    height: 3vh;
    background-color: rgb(173, 173, 87);
    margin: 0;
}